<div class="jumbotron">
  <h1 class="display-4">Struggling with organizing your tasks?</h1>
  <p class="lead">
    <i class="fa fa-check-circle"></i>
    We are here to help - a flexible, multi-functional to-do tool to boost your productivity!
  </p>
  <hr class="my-4" style="border-color: rgba(255,255,255,0.5)">
  <%= link_to "Let’s Get Started", new_user_path, class: "btn btn-light btn-lg" %>
</div>
